---
layout: layouts/base.njk
templateClass: sub-grid
---

<header>
    <div>
        <h1>UX At Your Leisure Podcast</h1>
        <p class="body-large">A UX design podcast that meets you wherever you are.</p>
        <p class="body-large">Brought to you by <a href="https://twitter.com/langermank">Katie</a>, <a href="https://twitter.com/lar_greenberg">Lara</a>, and <a href="https://twitter.com/olgavperfilieva">Olga</a>.</p>
    </div>
    {% include "podcast-links.njk" %}
</header>
<main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    {{ content | safe }}
</main>
