---
layout: layouts/base.njk
templateClass: tmpl-post
---
{% include "nav.njk" %}
<main>
    <h1 class="episode-heading">{{ title }}</h1>
    <div class="episode-description">
        <p class="postlist-date">Release date: {% if page.data.episodedate %}{{ page.data.episodedate | formatDate }}{% else %}{{ page.date | postDate }}{% endif %}</p>
        <p>{{ postDescription }}</p>
    </div>

{# {%- for tag in tags | filterTagList %}
{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %} #}

    <figure class="episode-mp3">
        <audio
            controls
            src="{{ audio_file_relative_url }}">
                Your browser does not support the
                <code>audio</code> element.
        </audio>
        <figcaption>{{ title }}</figcaption>
    </figure>

    {{ content | safe }}

{# {%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<ul>
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %} #}
</main>
