.podcast-link {
  display: grid;
  grid-template-columns: var(--size-5) auto;
  background: var(--post-link);
  color: var(--post-link-color);
  white-space: nowrap;
  align-items: center;
  gap: var(--size-2);
  border-radius: var(--radius-2);
  block-size: var(--size-8);
  padding-inline: var(--size-3);
  padding-block: 0;
  font-weight: var(--font-weight-6);
  margin: 0;
}

.podcast-link:hover {
  background: var(--post-link-hover);
  text-decoration: none;
  box-shadow: var(--shadow-2);
}

.podcast-link:visited {
  color: var(--post-link-color);
}

.podcast-link:active {
  box-shadow: var(--inner-shadow-1);
}

.podcast-link:focus-visible {
  outline: solid 3px var(--post-link-outline);
  outline-offset: 2px;
}

.postlist-content {
  margin-block-end: var(--size-6);
}

.postlist {
  display: grid;
  gap: var(--size-3);
}

.postlist-item {
  box-shadow: var(--shadow-2);
  background: var(--surface-1);
  padding: var(--size-4);
  border-radius: var(--radius-3);
  border: solid 1px var(--yellow-2);
}

.postlist-link {
  font-size: var(--font-size-4);
}

ol {
  list-style: none;
  counter-reset: nice-numbers;
  padding: 0;
}

ol li {
  counter-increment: nice-numbers;
  font-size: clamp(var(--size-3), 4vw, var(--size-4));
}

ol li:before {
  content: '0' counter(nice-numbers);
  font-size: var(--font-size-7);
  font-family: 'Mezzotint Regular';
  line-height: var(--font-lineheight-0);
}
