/* open-props */
@import 'https://unpkg.com/open-props/open-props.min.css' layer(open-props);
@import './open-props/normalize.css' layer(open-props);
@import './utilities.css' layer(open-props);
@import './typography.css' layer(brand);
@import './layout.css' layer(brand);
@import './components.css' layer(brand);

@layer open-props, core, brand;

@layer brand {
  :root {
    --post-link: var(--yellow-2);
    --post-link-hover: var(--yellow-3);
  }

  :where(html) {
    color-scheme: light;

    --link: var(--blue-7);
    --link-visited: var(--blue-7);

    --post-link-outline: var(--gray-8);
    --post-link-color: var(--gray-9);

    --text-1: var(--gray-9);
    --text-2: var(--gray-7);

    --surface-1: var(--gray-0);
    --surface-2: var(--gray-2);
    --surface-3: var(--gray-3);
    --surface-4: var(--gray-4);
  }

  @media (prefers-color-scheme: dark) {
    :where(html) {
      color-scheme: dark;

      --link: var(--blue-3);
      --link-visited: var(--blue-3);

      --post-link-outline: var(--gray-2);
      --post-link-color: var(--gray-9);

      --text-1: var(--gray-1);
      --text-2: var(--gray-4);

      --surface-1: var(--gray-9);
      --surface-2: var(--gray-8);
      --surface-3: var(--gray-7);
      --surface-4: var(--gray-6);
    }
  }

  :where(html) {
    color: var(--text-2);
    background-color: var(--surface-1);
  }

  :where(h1, h2, h3, h4, h5, h6, dt) {
    color: var(--text-1);
  }

  :where(a[href]) {
    color: var(--link);
  }

  :where(a):where([href]) {
    text-decoration-color: var(--link);
  }

  :where(a[href]):visited {
    color: var(--link-visited);
  }

  :where(a):where([href]):where(:visited) {
    text-decoration-color: var(--link-visited);
  }

  :focus-visible {
    outline-color: var(--indigo-7);
  }

  body {
    font-family: var(--font-sans);
  }

  ul {
    padding: 0;
  }

  li {
    padding: 0;
    list-style: none;
  }
}
