/* open-props */
@import "https://unpkg.com/open-props/open-props.min.css";
@import "./open-props/normalize.css";
@import "./open-props/buttons.css";
@import "./open-props/media-node.css";

/* Theme colors */
/* :root {
}

@media (prefers-color-scheme: dark) {
} */

body {
    background: var(--surface-1);
    font-family: var(--font-sans);
    display: grid;
    justify-content: center;
    align-content: start;
    gap: var(--size-3);
}

header {
    padding-block-start: var(--size-8);
}

h1 {
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-8);
}

h2 {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-5);
    /* max-inline-size: var(--size-header-3); */
}

.home {
    display: grid;
    place-content: center;
}

.header-content {
    margin-block-end: var(--size-6);
}

.header-content h2 {
    margin-block-end: var(--size-2);
}

.podcast-link-section {
    display: flex;
    gap: 1rem;

}

.podcast-link {
    display: grid;
    grid-template-columns: var(--size-5) auto;
    background: pink;
    white-space: nowrap;
    align-items: center;
    gap: 4px;
    border-radius: var(--radius-2);
    height: var(--size-8);
    padding-inline: var(--size-3);
    padding-block: 0;
}


:where(html) {
  color-scheme: light;

  --link: var(--indigo-7);
  --link-visited: var(--grape-7);

  --text-1: var(--gray-9);
  --text-2: var(--gray-7);

  --surface-1: var(--gray-0);
  --surface-2: var(--gray-2);
  --surface-3: var(--gray-3);
  --surface-4: var(--gray-4);

  @media (--HDcolor) {
    @supports (color(display-p3 0 .5 1)) {
      --link: color(display-p3 0 .5 1);
      --link-visited: color(display-p3 .6 .2 1);
    }
  }
}


@media (--OSdark) {
    [find-me]p {
        color: var(--text-1);
    }
  :where(html) {
    color-scheme: dark;

    --link: var(--indigo-3);
    --link-visited: var(--grape-3);

    --text-1: var(--gray-1);
    --text-2: var(--gray-4);

    --surface-1: var(--gray-9);
    --surface-2: var(--gray-8);
    --surface-3: var(--gray-7);
    --surface-4: var(--gray-6);
  }
}

:where(html) {
  color: var(--text-2);
  background-color: var(--surface-1);
}

:where(h1, h2, h3, h4, h5, h6, dt) {
  color: var(--text-1);
}

:where(a[href]) {
  color: var(--link);

  &:visited {
    color: var(--link-visited);
  }
}

:focus-visible {
  outline-color: var(--indigo-7);
}
