/* open-props */
@import "./open-props/normalize.css";
@import "./open-props/animations.css";
@import "./open-props/borders.css";
@import "./open-props/colors-hsl.css";
@import "./open-props/easings.css";
@import "./open-props/fonts.css";
@import "./open-props/gradients.css";
@import "./open-props/media.css";
@import "./open-props/shadows.css";
@import "./open-props/sizes.css";
@import "./open-props/borders.css";
@import "./open-props/zindex.css";
@import "./open-props/brand.css";
@import "./open-props/buttons.css";

/* Theme colors */
:root {
  --color-gray-20: #e0e0e0;
  --color-gray-50: #C0C0C0;
  --color-gray-90: #333;

  --background-color: #fff;

  --text-color: var(--color-gray-90);
  --text-color-link: #082840;
  --text-color-link-visited: #17050F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-gray-20: #e0e0e0;
    --color-gray-50: #C0C0C0;
    --color-gray-90: #dad8d8;

    /* --text-color is assigned to --color-gray-_ above */
    --text-color-link: #1493fb;
    --text-color-link-visited: #a6a6f8;

    --background-color: #15202b;
  }
}
