---
layout: "layouts/default"
permalink: /
---

<p>I'm a podcast!</p>

<h2>Site maps</h2>

<p>There are {{ collections.all.size }} collection items across the board.</p>

<ul>
{% for item in collections.all %}
  <li><a href="{{ item.url | url }}">{{ item.data.page.fileSlug }}</a> <i>({{ item.url }})</i></li>
{% endfor %}
</ul>