_site/
package-lock.json

# Ignore secrets
/.env
/*.env
/*.env-*

# Ignore clutter from Netlify CLI
.netlify
/.netlify
/.netlify/**

# Ignore "node_modules"
/node_modules/
/node_modules/**

# Ignore "dist", my static output folder
/dist/
/dist/**
