---
layout: layouts/base.njk
---

{% include "nav.njk" %}

<main class="sub-grid">
  <h1>Colophon</h1>
  <p>
    This site was built with <a href="https://www.11ty.dev/">11ty</a> and
    <a href="https://open-props.style">Open Props</a>. The design was inspired
    by <a href="https://wordwrap.dev/">Word Wrap podcast</a>, and the RSS feed
    configuration came from
    <a href="https://github.com/kkgthb/web-site-11ty-06-podcast">@kkthb</a>. The
    typeface used for our podcast art and headings is
    <a class="mezzotint" href="https://www.connary.com/mezzotint.html"
      >Mezzotint</a
    >
    by Connary Fagan Inc.
  </p>
</main>
